@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

/* BASE */
:root{
  --color-principal: #e30613;
  --color-secundario: #E84C57;
  /* gradiente azul como estaba */
  /* --background-gradient-1: linear-gradient(90deg, 
                                          rgba(12,102,150,0.1) 0%, 
                                          rgba(12,102,150,0.15) 50%, 
                                          rgba(12,102,150,0.4) 100%); */

  /* gradiente mas claro */
  --background-gradient-1: linear-gradient(90deg, #f5f7fa 0%, #c3cfe2 100%);;
  --shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
  --font-family: 'Ubuntu',sans-serif; 
}

*{
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
 }

body{
  min-height: 100vh;
}
/* BASE */

/* HEADER */
header{
  z-index:99;
  position: fixed;
  top: 0;
  width: 100vw;
  padding: .75rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:rgba(0, 0, 0, 0.9);
  color: whitesmoke;
  box-shadow: var(--shadow);
}

header a{
  text-decoration: none;
}

.logo{
  display: flex;
  align-items: center;
  gap: 1vw;
  margin-left: 4rem;
}

.logo h2{
  font-size: 2rem;
  font-family: var(--font-family);
  color: var(--color-principal);
}

.logo-img{
  width: 60px;
}

.logo-img img{
  width: 100%;
}

nav{
  display: flex;
  gap: 2vw;
  margin-right: 4rem;
  position: unset;
  width: auto;
  padding: 0;
  background: transparent;
}

nav a{
  padding: .5rem;
  color: whitesmoke;
  text-decoration: none;
  font-family: var(--font-family);
}

nav a:hover{
  color: var(--color-secundario);
}

.link-active{
  font-weight: bold;
}

.btn-menu{
  display: none;
}

.text-center{
  text-align: center;
}
/* HEADER */

/* GENERAL */
.content{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.custom-shadow{
  box-shadow: var(--shadow);
}

.title{
  margin-bottom: 1rem;
}

.card{
  padding: 1rem;
  margin: 1rem auto;
  border-radius: 10px;
  background-color: whitesmoke;
  box-shadow: var(--shadow);
}

.invalid-message{
  color:rgb(141, 41, 41);
}

.invalid-input{
  border: 3px solid rgb(141, 41, 41) !important;
}

.btn{
  border-radius: 5px;
  border: none;
  padding: .5rem 2rem;
  background-color: var(--color-principal);
  box-shadow: var(--shadow);
  color: whitesmoke;
  font-size: 1rem;
}

.btn-green:hover,
.btn:hover{
  transition: .5s ease-in-out;
  background-color: var(--color-secundario);
  cursor: pointer;
}
/* GENERAL */

/* INDEX */
.hero-content{
  background: var(--background-gradient-1);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hero{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hero-title{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hero h1{
  font-size: 3.25rem;
  color: var(--color-secundario);
  font-family: var(--font-family);
  text-shadow: var(--h1-shadow);
  text-shadow: 1px 1px #3e3e3e;
}

.hero p{
  font-size: 2rem;
  width: 30vw;
  opacity: .7;
}

.hero-img{
  width: 30vw;
}

.hero-img img{
  width: 100%;
}
/* INDEX */

/* CONVERSION */
.conversion-content{
  background: var(--background-gradient-1);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#conversionForm{
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#conversionForm h2{
  font-size: 2rem;
  text-align: center;
  color: var(--color-secundario);
}

#conversionForm .formularioContent{
  display: flex;
  align-items: center;
  gap: 10px;
}

#conversionForm .inputGroup{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#conversionForm .inputGroup input{
  font-size: 16px;
  border-radius: 5px;
  padding: .5rem;
  box-shadow: var(--shadow);
  border: none;
}

#conversionForm .conversionResult{
  min-height: 350px;
}

.result{
  border-bottom: 2px solid #3e3e3e;
}

.conversion-result,
.conversion-detail{
  padding: 1rem;
  font-weight: bold;
  font-size: 1.25rem;
}

#conversionResult .conversion-footer{
  font-size: .75rem;
}

sup{
  font-size: .75rem;
}

.conversion-details{
  display: flex;
  justify-content: space-between;
  margin-bottom: .5rem;
  align-items: baseline;
  height: 25px;
}
/* CONVERSION */

/* CONTACTO */ 
.contact-content{
  /* padding: 10px; */
  background: var(--background-gradient-1);
  gap: 10vw;
  padding: 0 4rem;
}

.formulario{
  display: flex;
  flex-direction: column;
  gap: 2vw;
  width: 80%;
}

.formulario h2{
  font-size: 2rem;
  color: var(--color-secundario);
  text-align: center;
}

#contactForm{
  /* width: 50%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

/* #contactForm h2{
  font-size: 2rem;
  color: var(--color-secundario);
} */

#contactForm div{
  display: flex;
  justify-content: center;
  gap: 2vw;
  width: 100%;
}

#contactForm .columna{
  display: flex;
  flex-direction: column;
  gap: 1vw;
  width: 50%;
}


#contactForm .inputGroup{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#contactForm .inputGroup input,
#contactForm .inputGroup select,
#contactForm .inputGroup textarea{
  font-size: 1rem;
  border-radius: 5px;
  padding: .75rem .5rem;
  box-shadow: var(--shadow);
  border: none;
}

#contactForm .inputGroup textarea{
  height: 8rem;
}

#contactForm .btn{
  margin-top: .75rem;
  width: 20vw;
}

.contact-img{
  width: 30vw;
} 

.contact-img img{
  width: 100%;
}
/* CONTACTO */

/* ACERCA DE */
.about-content{
  background: var(--background-gradient-1);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding-top: 5vw;
}

.about-company{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.about-company h2,
.about-us h2{
  font-size: 2rem;
  color: var(--color-secundario);
}

.about-company p{
  text-align: center;
}

.about-us{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.about-us-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2vw;
}

.profile{
  padding: 1.5rem;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: whitesmoke;
  border-radius: 10px;
}

.profile:hover{
  border-radius: 10px;
  box-shadow: var(--shadow);
}

.profile-img{
  width: 100%;
  max-width: 120px;
  height: 100%;
  max-height: 120px;
}

.profile-img img{
  width: 100%;
  border-radius: 50%;
  box-shadow: var(--shadow);
}

.profile-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.profile-info p{
  text-align: center;
}
/* ACERCA DE */

footer{
  display: flex;
  justify-content: center;
  padding: 1.5rem;
  background-color: rgb(0,0,0);
  color: whitesmoke;
  font-family: var(--font-family);
  text-shadow: var(--h2-shadow);
}

@media screen and (max-width: 992px){

  .btn-menu{
    background-color: transparent;
    color: whitesmoke;
    border: none;
    font-size: 1.5rem;
    display:block;
    margin-right: 1rem;
  }

  .logo{
    margin-left: 1rem;
    gap: 3vw;
  }

  nav{
    background-color: rgb(0,0,0,0.9);
    display: none;
    position: absolute;
    width: 100%;
    top: 5.5rem;
    padding: 1rem;
    
  }

  .nav-link:hover{
    transform: none;
    font-weight: normal;
  }

  .bi-list{
    font-size: 3rem;
  }

  /* INDEX */
  .hero{
    flex-direction: column;
    align-items: center;
    gap: 10vh;
  }

  .hero-title{
    align-items: center;
  }

  .hero p{
    width: 80vw;
    text-align: center;
  }

  .hero-img{
    width: 50vw;
  }
  /* INDEX */

  /* CONTACTO */
  .contact-content{
    padding: 0 2rem;
  }

  .formulario{
    width: 100%;
  }

  

  #contactForm .columna{
    gap: 5vw;
    width: 100%;
  }

  #contactForm .inputGroup textarea{
    height: 9.5rem;
  }

  .contact-img{
    display: none;
  }
  /* CONTACTO */

  /* ACERCA DE */
  .about-content{
    padding-top: 10vw;
  }

  .about-company{
    width: 90%;
  }

  .about-us{
    width: 90%;
  }
  /* ACERCA DE */
}

@media screen and (max-width: 768px){

  .logo h2{
    font-size: 1.5rem;
  }

  .logo-img{
    width: 40px;
  }

  nav{
    top: 4.25rem;
  }

  .bi-list{
    font-size: 2rem;
  }

  .hero h1{
    font-size: 3rem; 
  }

  .hero p{
    font-size: 1.25rem;
    width: 90vw;
    line-height: 1.5rem;
  }

  /* CONVERSION */
  .conversion-content{
    padding: 0 .75rem;
  }

  #conversionForm{
    width: 100%;
    align-items: normal;
  }

  #conversionForm .formularioContent{
    width: 100%;
  }

  #conversionForm .inputGroup{
    width: 50vw;
  }

  #conversionForm .btn{
    padding: .5rem 0;
    width: 100%;
  }
  /* CONVERSION */

  /* CONTACTO */
  .contact-content{
    padding: 0 2rem;
  }

  .formulario{
    width: 100%;
  }

  #contactForm div{
    /* display: block; */
    flex-direction: column;
    gap: 5vw;
  }

  #contactForm .btn-contacto{
    width: 100%;
  }
  /* CONTACTO */

  /* ACERCA DE */
  .about-content{
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .about-us-content{
    gap: 5vh;
  }

  .profile{
    padding: 2.5rem;
  }

  .profile-img{
    max-width: 200px;
    max-height: 200px;
  }
  /* ACERCA DE */
}
